---
import { SITE } from 'catalyst:config';
import Logo from '~/assets/images/catalyst-logo.svg';
---

<span
  class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white"
>
  <div class="flex align-middle justify-center items-center">
    <img src={Logo.src} alt="Catalyst Web Design logo" width="40" height="40" class="mr-2" />
    {SITE?.name}
  </div>
</span>
