:root {
    --catalyst-color-primary: #8C2ABA;
    --catalyst-color-secondary: #241EFF;
    --catalyst-color-tertiary: #FAAD17;
    --catalyst-gradient-primary: linear-gradient(90deg, var(--catalyst-color-primary) 0%, var(--catalyst-color-secondary) 100%);
    --catalyst-gradient-secondary: linear-gradient(90deg, var(--catalyst-color-secondary) 0%, var(--catalyst-color-tertiary) 100%);
    --catalyst-gradient-tertiary: linear-gradient(90deg, var(--catalyst-color-tertiary) 0%, var(--catalyst-color-primary) 100%);
}

/* src/styles/global.css */
